<div class="search-results container">

  <div class="row justify-content-between">
    <h2 class="pl-3 pl-md-0 title-section">FILTER BY</h2>
    <h3 class="col body-toned-down text-right">Clear All</h3>
  </div>
  <div class="row">
    <div class="col mt-3">
      <div class="btn btn__filter--white button-dark ml-0 mr-2">Badge</div>
      <div class="btn btn__filter--white button-dark ml-2">Category</div>
    </div>
  </div>

  <% if @users.present? %>
    <div class="row justify-content-between mt-3">
      <h2 class="pl-3 pl-md-0 title-section">PEOPLE</h2>
      <div class="col body-toned-down text-right">See All</div>
    </div>

    <div class="row mt-2">
      <% @users.each do |result| %>
        <div class="container mt-2 mb-4 col-12 col-lg-3 col-md-4">
          <div class="row mw-100">
            <div class="col-2 p-md-0">
              <%= image_tag(result.searchable.profile_image, alt: "rss feed", class: "rounded-circle avatar") %>
            </div>
            <div class="col-10 row mt-1">
              <h3 class="col-12 heading smaller ml-2">
                <%= result.searchable.name %>
              </h3>
              <div class="col-12 body-medium-toned-down smaller ml-2">
                <%= result.searchable.location %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @organizations.present? %>
    <div class="row justify-content-between mt-4">
      <h2 class="pl-3 pl-md-0 title-section">ORGANIZATIONS</h2>
      <h3 class="col body-toned-down text-right">See All</h3>
    </div>

    <div class="row mt-3">
      <% @organizations.each do |result| %>
        <div class="col-12 mb-4 col-md-6 container">
          <div class="row">
            <div class="col-2 col-md-1 p-md-0 w-50 mr-1 mr-lg-0">
              <%= image_tag(result.searchable.avatar_url, alt: "rss feed", class: "rounded-circle avatar") %>
            </div>
            <div class="col-10 row mt-1 w-50">
              <h3 class="col-12 ml-md-2 ml-lg-0 heading smaller">
                <%= result.searchable.name %>
              </h3>
              <div class="col-12 ml-md-2 ml-lg-0 body-medium-toned-down smaller">
                <%= result.searchable.location %>
              </div>
              <div class="col-12 ml-md-2 ml-lg-0 body-medium-toned-down mt-1">
                <%= render "shared/org_type_oval", org_type: result.searchable.org_type %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
