<!DOCTYPE html>
<html>
<%= erb :'layout/doc_head' %>
<body style='overflow-x: hidden;'>  
  <%= erb :"layout/flash" %>        
  <%= erb :'header' %>  
  <div class='container'>
    <%= yield %> 
    <%= erb :"footer" %>           
  </div>
  <%= erb :'layout/js_scripts'%>    
  <link rel="stylesheet" href="/css/fonts/RobotoFonts.css">
  <link rel="stylesheet" href="/css/fonts/MaterialIcons.css">
  <%= erb :'/users/add_donation_form' %>
</body>
</html>
