<!-- <h1> Settings Page </h1> -->
<%
fav_orgs = user['fav_orgs'].to_a.select {|o| o.present? }
%>
<form class='form1 card1' action='/settings' method=post style='margin:20px' >
  <h3> Edit Your Details </h3>
  <div><label> Name </label><input name='name' value="<%=user['name']%>"/></div>
  <div><label> e-mail </label><input name='email' value="<%=user['email']%>" class='has_tooltip' title="Nobody will see this, we use this to process emails regarding donations." data-placement=right /></div>
  <div><label> Location </label><input name='address' value="<%=user['address']%>"/></div>
  <!-- <div><label> Network </label>
    <select name='network'>
      <% ALL_NETWORKS.each do |opt| %>
      <option value='<%=opt.downcase%>' <%="selected" if cu['network']==opt.downcase%>><%= opt %></option>
      <% end %>
    </select>
  </div> -->
  <div><label> My Yearly Income <span class='pull-right'>$</span></label><input name='yearly_income' value="<%=user['yearly_income']%>" type=number placeholder='50,000' class="has_tooltip before_dollar" title="Contact us to verify your income and receive badges for substantial donations." data-placement=right/></div>
  <div><label> My Giving Philosophy </label><textarea rows=6 name='philosophy'><%=user['philosophy']%></textarea></div>

  <section>
    <label> My Featured Cause </label>
    <select name=fav_cause>
        <% ORG_TYPES.each do |type| %>
          <option value='<%=type%>' <%='selected' if user[:fav_cause]==type%>><%=type.titleize%></option>
        <% end %>
      </select>
    <!-- <button type='button' onclick=addFavOrg()>Add + </button> -->
  </section>

  <section>
    <h4> My favorite Organizations </h4>
    <div class='fav_orgs_list'>
      <ul style='list-style:none' class='sortable'>
      <% (fav_orgs.to_a.compact).each_with_index do |org,i| %>
        <li style='list-style:none'>
        <div style='display: inline-block; margin: 20px;  background-color:lightgrey; padding:10px'>
          <div><label> Organization</label>
          <!-- <input class='ac_my_orgs' name='fav_orgs[]' value="<%=fav_orgs.to_a[i]%>"/> -->
          <select name='fav_orgs[]'>
          <% my_donated_orgs.each_with_index { |org,j| %>
            <option <%='selected' if org['name']==fav_orgs[i]%>><%= org['name'].to_s %></option>
          <% } %>
          </select>
          </div>
          <div><label> Explanation</label><textarea rows=6 name='fav_orgs_text[]'><%=user['fav_orgs_text'].to_a[i]%></textarea></div>
          <button type='button' class='btn btn-small btn-danger' onclick="$(this).closest('li').remove()">delete</button>
        </div>
        </li>
      <% end %>
      </ul>
      <button type='button' class='btn btn-small btn-raised btn-info pull-right' onclick=addFavOrg()>Add Favorite Org</button>
    </div>
    <!-- <button type='button' onclick=addFavOrg()>Add + </button> -->
  </section>
  <hr/>
  <button class='<%=b1%>'>Submit</button>
</form>


<a href=/my_donations_privacy_settings class='<%=b1%>'>My Donations Privacy Settings </a>
<div></div>
<a href='#' class='btn btn-raised btn-danger' onclick='if (confirm("Are you sure you wish to DELETE your account?")) {doc.location ="/users/delete_me"; return false}'> Delete My Account </a>
<br/>
<br/>
<br/>
<br/>

<script>
function addFavOrg(){
  var z = $('.fav_orgs_list li').last().clone()
  $(z).find('textarea').val('')
  $(z).find('input').val('')
  $('.fav_orgs_list ul').append(z);

  $('.ac_my_orgs').autocomplete({
    serviceUrl: '/search/my_orgs',
  })
}
</script>