<div class='row search_results'>
  <div class='col-md-3 card1 facets'>
      <h3> Filter </h3>
      <form action='/search' method='get'>
        <!-- <input name=q value="<%=pr[:q]%>"> -->
        <section>
          <h5> By Marked Organization Type </h5>
          <% ORG_TYPES.each do |type| %>
            <div>
              <a class='btn btn-primary' href='/search?type=<%=type%>'><%=type.titleize%></a>
            </div>
          <% end %>
        </section>
        <% if false %>
        <section>
          <h5> Trending </h5>
          <%= erb :'search/facet', locals: {k: 'popular'} %>
          <%= erb :'search/facet', locals: {k: 'new'} %>
        </section>

        <section>
          <h5> Network </h5>
          <%= erb :'search/facet', locals: {k: 'in_my_portfolio'} %>
          <%= erb :'search/facet', locals: {k: 'in_my_friends_portfolio'} %>
        </section>

        <section>
          <h5> Sector </h5>
          <%= erb :'search/facet', locals: {k: 'arts_culture_humanities'} %>
          <%= erb :'search/facet', locals: {k: 'education'} %>
          <%= erb :'search/facet', locals: {k: 'environment'} %>
          <%= erb :'search/facet', locals: {k: 'animal_rights'} %>
        </section>
        <% end %>
      </form>
  </div>
  <div class='col-md-9 zcol-md-offset-2'>
    <div class='card1'>
      <h5> Search Results: <i><%= pr[:q] || pr[:type].titleize %></i> </h5>

      <% if users.any? %>
        <h4> Users </h4>
        <% users.each do |user| %>
        <div class='card1'>
          <a href='/users/<%=user[:nick]%>'%><%= user[:name] || user[:nick] %>, <%= user['address'] %> </a>
        </div>  
        <% end %>
      <% end %>

      <div class='orgs_results'>
        <h4> Organizations </h4>
        <% orgs.each do |org| %>

        <div class='card1'>
          <span class='name'>
            <a href='/orgs/<%=org[:_id]%>'><%= org[:name] %></a> 
          </span>
          <span class='metadata'>
            <span class='badges'>
              <!-- <img src='/img/badge1.jpeg'>  -->
            </span>
            <% total = $donations.all(org_id: org['_id']).mapo('amount').sum %>
            raised: <%= total%>$ (total)
            <span class='faces'>        
              <% org_donors(org).each do |user| %>
                <span style='display: inline-flex; flex-direction: column;'>
                  <a href='/users/<%=user['nick']%>'><img src='<%=user['pic_url']%>'/></a>
                </span>
              <% end %>
            </span>
          </span>
        </div>  
        <% end %>
      </div>
    </div>
  </div>
</div>