<div class="user-home container px-0">
  <div class="profile-flash__container">
    <%= render("shared/flash", type: "success", content: flash[:success]) if flash[:success] %>
  </div>
  <%= render template: "layouts/user_header" %>
  <div class="user-home__sections">
    <div class="row user-home__section-titles">
      <div class="col-5 col-lg-3 offset-lg-0 user-home__section-title">
        MY NETWORK
      </div>
      <div class="col-6 user-home__section-title">
        MY FAVORITE ORGANIZATIONS
      </div>
    </div>

    <ul class="container justify-content-center nav user-home__section-titles user-home__section-titles--mobile" id="myTab" role="tablist">
    <div class="w-50 p-2 pb-0 mb-0 col-xs-6">
      <li class="nav-item user-home__section-title user-home__section-title--mobile">
        <a class="nav-link active" id="network-tab" data-toggle="tab" href="#network" role="tab" aria-controls="network" aria-selected="true">MY NETWORK</a>
      </li>
    </div>
    <div class="w-50 p-2 col-xs-6">
      <li class="nav-item user-home__section-title user-home__section-title--mobile">
        <a class="nav-link" id="favorite-tab" data-toggle="tab" href="#favorite" role="tab" aria-controls="favorite" aria-selected="false">FAVORITES</a>
      </li>
    </div>
    </ul>

    <div class="row user-home__section-contents tab-content">
      <!-- network section -->
      <div class="col col-lg-3 tab-pane user-home__section-content active" id="network" role="tabpanel" aria-labelledby="network-tab">
        <div class="w-100 btn btn-primary new-donation-btn d-none d-lg-inline-block">
          <%= fa_icon "plus", text: "Record my donation", class: "pr-4" %>
        </div>
        <div class="btn btn-primary new-donation-btn--mobile fixed-bottom ml-auto d-lg-none">
          <%= fa_icon "plus" %>
        </div>

        <% @network_donations.each do |donation| %>
          <div class="home-section-content">
            <%= render "users/profile_sections/past_donation", donation: donation, show_donor: true %>
          </div>
        <% end %>
      </div>

      <!-- favorite section -->
      <div class="col-12 user-home__section-content col-lg-9 offset-xs-2 offset-lg-0 d-lg-flex p-2 row tab-pane" id="favorite" role="tabpanel" aria-labelledby="favorite-tab">
        <% Organization.first(4).each do |organization| %>
          <div class="card organization-activity-card col-12 col-lg-3">
            <%= link_to "/#organization_id", class: "card-img-top" do %>
              <%= image_tag("home-profile_01.jpg", alt: "rss feed", class: "img-fluid organization-activity-card__image--top") %>
            <% end %>

            <div class="organization-activity-card__header row no-gutters">
              <%= link_to "/#organization", class: "col-2" do %>
                <div class="mr-auto">
                  <%= image_tag(organization.profile_image, alt: "rss feed", class: "rounded-circle avatar") %>
                </div>
              <% end %>
              <div class="col-8 organization-activity-card__name heading">
                <%= organization.name %>
              </div>
              <div class="col-2 text-center organization-activity-card__social-media-logo">
                <%= fa_icon "facebook-square", class: "organization-activity-card__facebook-icon fa-2x" %>
              </div>
            </div>

            <div class="organization-activity-card__body row no-gutters">
              <div class="col-10 offset-2 my-3">
                “We’re doing everything we can, including working with partners
                like the National Guard, to move volunteers and supplies to
                critical areas.” Here’s how you can help:
                https://rdcrss.org/2xqHFmq #Florence
              </div>
              <div class="col-10 offset-2 mb-3">
                <%= link_to "/#organization_id", class: "card-img-top " do %>
                  <%= image_tag("home-profile_01.jpg", alt: "rss feed", class: "organization-activity-card__image--bottom img-fluid") %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>


</div>
