<div class="user-profile">
  <%= render template: "layouts/user_header" %>

  <div class="profile-body profile-sections container-fluid">
    <%= render "users/profile_sections/badges" %>
    <%= render "users/profile_sections/donations_by_causes" %>
    <%= render "users/profile_sections/past_donations" %>
    <%= render "users/profile_sections/philosophy" %>
    <%= render "users/profile_sections/favorite_organizations" %>
  </div>  

</div>