<div class="user-profile">

  <div class="profile-header">
    <%#= render "users/profile_header" %> <!-- This is a place holder for now. -->
  </div>

  <div class="profile-body profile-sections">
    <%= render "users/profile_sections/badges" %>
    <%= render "users/profile_sections/donations_by_causes" %>
    <%= render "users/profile_sections/past_donations" %>
    <%= render "users/profile_sections/philosophy" %>
    <%= render "users/profile_sections/favorite_organizations" %>
  </div>  

</div>