<%= javascript_include_tag "users/profile" %>
<div class="user-profile">
  <div class="profile-flash__container">
    <%= render('shared/flash', type: 'success', content: flash[:success]) if flash[:success] %>
  </div>
  <%= render template: "layouts/user_header" %>
  <div class="profile-body profile-sections container-fluid">
    <%= render "users/profile_sections/badges" %>
    <%= render "users/profile_sections/donations_by_causes" %>
    <%= render "users/profile_sections/past_donations" %>
    <%= render "users/profile_sections/philosophy" %>
    <%= render "users/profile_sections/favorite_organizations" %>
  </div>
</div>
