<div class="container about-page">
  <div class="row">
    <%= render 'partials/static_page_heading', locals: {header_title: "We made Giving Profiles to help you help others", column_classes: "col-12", title_modifier: "--large-margin"} do %>
      <div class="header__content">
        Giving Profiles is a simple way to collect all your charitable donations
        in a single place. Use it to keep track of your giving, share your
        favorite charities with friends, and discover great new organizations to
        support. We are a team of researchers from Harvard and Yale who
        specialize in motivating people to do more good. We're not venture
        capitalists, or serial-startup-ists, and we're not here to make a buck.
        We're here to put our research into practice, and see if we can help you
        make the biggest difference you can.
      </div>
      <div class="divider header__divider"></div>
    <% end %>

  </div>

  <div class="row">
    <div class="col-12 col-lg-3 title-section mb-3 mb-lg-0">OUR TEAM</div>

    <%= render 'partials/static_page_heading', locals: {header_title: "Erez Yoeli", column_classes: "col-12 col-lg-9 mb-2"} do %>
      <div class="header__content">Research scientist at MIT Sloan. He applies
        insights from the social
        sciences to promote charitable giving, volunteering, resource
        conservation, medication adherence, etc.
      </div>
    <% end %>

    <%= render 'partials/static_page_heading', locals: {header_title: "Dave Rand", column_classes: "col-12 col-lg-9 offset-lg-3 my-2"} do %>
      <div class="header__content">
        Associate professor at MIT, where he uses math models, behavioral
        experiments, and computer simulations to gain insight on
        cooperation.
      </div>
    <% end %>

    <%= render 'partials/static_page_heading', locals: {header_title: "Moshe Hoffman", column_classes: "col-12 col-lg-9 offset-lg-3 my-2"} do %>
      <div class="header__content">
        Research scientist at MIT’s Media Lab, where he uses tools like game
        theory and behavioral experiments to uncover the hidden incentives
        that shape our sense of altruism and ethics.
      </div>
    <% end %>

    <%= render 'partials/static_page_heading', locals: {header_title: "Martin Nowak", column_classes: "col-12 col-lg-9 offset-lg-3 my-2"} do %>
      <div class="header__content">
        Director of Harvard University’s Program for Evolutionary Dynamics,
        and a recognized expert on the evolution of cooperation.
      </div>
      <div class="col-12 col-lg-3 p-0">
        <div class="divider about-page__divider--secondary-team"></div>
      </div>
    <% end %>

    <div class="col-12 col-lg-3 offset-lg-3 my-3 row no-gutters">
      <%= render 'partials/static_page_heading', locals: {header_title: "Duo Yang", column_classes: "col-6 col-lg-12 px-0"} do %>
      <% end %>
      <div class="col-lg-12 col-6 px-0 about-page__role">
        Web Designer
      </div>
    </div>


    <div class="col-12 col-lg-5 my-3">
      School of Information, University of Michigan Specialty in User Experience Design & Research.
    </div>
    <div class="col-12 col-lg-3 offset-lg-3 my-3">
      <%= render 'partials/static_page_heading', locals: {header_title: "Cool Cats Coding", column_classes: "col-6 px-0"} do %>
      <% end %>
      <div class="col-lg-12 col-6 px-0 about-page__role">
        Web Developer
      </div>
    </div>
    <div class="col-12 col-lg-5 my-3">
      (→ Please add your name/role/short bio here ←)
    </div>

  </div>

</div>

