<form class='form1' action='/orgs/<%=org[:_id]%>' method=post>
  <h3> Edit Details for <b><%= org['name'] %></b> </h3>  
    <div><label> Type </label>
      <select name=type>
        <% ORG_TYPES.each do |type| %>
          <option value='<%=type%>' <%='selected' if org[:type]==type%>><%=type.titleize%></option>
        <% end %>
      </select>
    </div>  
  <div><label> Website </label><input name='url' value="<%=org['url']%>"/></div>
  <div><label> Facebook Page: https://facebook.com/</label><input name='facebook_page' value="<%=org['facebook_page']%>"/></div>
  <% if is_admin %>
  <h6> (admin-only) </h6>
  <div><label> Change Name </label><input name='name' value="<%=org['name']%>"/></div>
  <% end %>
  <button class="<%=b1%>">Submit</button>
</form>

<% if is_admin %>
<hr/>
<form class='form1' action='/orgs/add' method=post>
  <h3> Admin: Add New Org </h3>
  <div><label> Name </label><input name='name' /></div>
  <button class="<%=b1%>">Submit</button>
</form>
<% end %>
