<section class='org_page ct col-md-8 col-md-offset-2'>
<h1> <%= org[:name]%>'s Organization Page </h1>
<h4><%=org['type'] || 'Environment' %>, <a href='http://<%=org['website']%>'><%=org['website'] || 'http://www.red-cross.com'%></a></h4>
<div class='card1'>
  <h5> Organization Badges </h5>
  <div class='badges'>
    <img src='/img/badge1.jpeg'/>
    <img src='/img/badge2.png'/>
    <img src='/img/badge3.jpeg'/>
  </div>
</div>

<div class='card1'>
  <h5> Other Donors in Your Network (<%=cu[:network]%>) </h5>
  <div class='donors'>
    <% 10.times do |i| %>
    <span style='display: inline-flex; flex-direction: column;'>
      <img src='/img/face.jpg'/>
      <div> <%=(0..100).to_a.sample%>$ </div>
    </span>
    <% end %>
  </div>
</div>

<form class='form1' action='/org/<%=org[:_id]%>' method=post>
  <h3> Edit Organization Details </h3>
  <div><label> Name </label><input name='name' value="<%=org['name']%>"/></div>
  <div><label> Type </label><input name='type' value="<%=org['type']%>"/></div>
  <div><label> Website </label><input name='website' value="<%=org['website']%>"/></div>
  <button class="<%=b1%>">Submit</button>
</form>

</section>