<%
#bp
x=1
%>
<section class='org_page ct col-md-8 col-md-offset-2'>
<h1> <%= org[:name]%>'s Organization Page </h1>
<h4><%=org['type'].to_s.titleize || 'No Type' %> <a href='http://<%=org['website']%>'><%=org['url'] %></a></h4>

<% if false %>
<div class='card1'>
  <h5> Organization Badges </h5>
  <div class='badges'>
    <!-- <img src='/img/badge1.jpeg'/> -->
  </div>
</div>
<% end %>

<div class='card1'>
  <h5> Donors </h5>
  <div class='donors'>
    <% org_donors(org).each do |user| %>
    <span style='display: inline-flex; flex-direction: column;'>
      <a href='/users/<%=user['nick']%>'><img src='<%=user['pic_url']%>'/></a>
    </span>
    <% end %>
  </div>
</div>

<% if is_admin %>
<form class='form1' action='/org/<%=org[:_id]%>' method=post>
  <h3> Admin: Edit Organization Details </h3>
  <div><label> Name </label><input name='name' value="<%=org['name']%>"/></div>
    <div><label> Set New Type </label>
      <select name=type>
        <% ORG_TYPES.each do |type| %>
          <option value='<%=type%>' <%='selected' if org[:type]==type%>><%=type.titleize%></option>
        <% end %>
      </select>
    </div>
  <div><label> Website </label><input name='url' value="<%=org['url']%>"/></div>
  <button class="<%=b1%>">Submit</button>
</form>
<hr/>
<form class='form1' action='/orgs/add' method=post>
  <h3> Admin: Add New Org </h3>
  <div><label> Name </label><input name='name' /></div>
  <button class="<%=b1%>">Submit</button>
</form>
<% end %>

</section>