<%= render "users/profile_sections/profile_section", title: "DONATIONS BY CAUSES"  do %>
  <div class="donations-bars">
    <% @donations_by_causes.each do |cause, percent| %>
      <div class='<%= "#{cause}-bar donation-bar bg_color_#{cause}" %>' data-percent='<%= percent %>'></div>
    <% end %>

    <% @donations_by_causes.each do |cause, percent| %>
      <div class='<%= "donation-cause-text" %>' data-percent='<%= percent %>'>#<%= cause.capitalize %></div>
    <% end %>

    <% @donations_by_causes.each do |cause, percent| %>
      <div class='<%= "donation-percent" %>' data-percent='<%= percent %>'><%= percent %>%</div>
    <% end %>

    <% if @donations_by_causes.present? %>
    <% highest = @donations_by_causes.first %>
      <div class='<%= "highest-donation-bar bg_color_#{highest[0]}" %>'></div>
    <% end %>
  </div>

  <% if @donations_by_causes.present? %>
    <div class="reason-for-giving">When I give, I often give to organizations that focus on <%= highest[0].humanize %>, where my dollar can go really far.</div>
  <% end %>
<% end %>
