<div class='ct donations_list'>
  <h3> My Donations </h3>
  <% donations.each do |don| %>

  <div class='single_donation'>
    <% text = escape_html "I just shared a donation to #{don[:org_name]} on GivingProfiles" %>
    <i class='fa fa-share' onclick='fbShare("<%=text%>")' style='float:left'></i> 
    <a class='underline' href='/orgs/<%=don[:org_id]%>' style='display: inline; margin:5px; margin-right:0'><%= don[:org_name] %></a><%= ", <b>#{don[:amount]}</b> $" if don[:user_id] == cuid %>
    <% if don[:user_id] == cuid %>
    <span onclick='document.location="/donations/delete?id=<%=don[:_id]%>"' class='lightHover'><small><i class='fa fa-close'></i></small>
    </span>
    <% end %>
  </div>  
  <% end %>
</div>