<div class='ct donations_list'>
  <h3> My Donations </h3>
  <% donations.each do |don| %>

  <% don['private'] = true if is_org_id_private(don['org_id'],don[:user_id]) %>

  <% next if don['private'] && don[:user_id]!=cuid %>

  <div class='single_donation' style='margin:10px auto'>
    <% text = escape_html "I just shared a donation to #{don[:org_name]} on GivingProfiles" %>
    
    <a class='underline' href='/orgs/<%=don[:org_id]%>' style='display: inline; margin:5px; margin-right:0'><%= don[:org_name] %></a>
      <div style='margin:5px auto'>
      <i class='fa fa-share' onclick='fbShare("<%=text%>")' style='zfloat:left'></i> 
      <% if don[:user_id] == cuid %>
        <%= "<b style='margin:auto 5px'>$#{don[:amount]}</b>" %>    
        <span onclick='document.location="/donations/delete?id=<%=don[:_id]%>"' class='lightHover'>
        <small><% if true || don['private']%><i class='fa fa-eye has_tooltip' title="This donation is private; others cannot see it."></i><% end %> 
          <i class='fa fa-close'></i>
        </small>
        </span>
      </div>
    <% end %>
  </div>  
  <% end %>
</div>