<section class='profile'>
  <!-- <h1> <%=user[:name]%>'s Giving Profile </h1> -->

  <div class=fl>
    <div class='fl2'>
      <div class='card1 bo1 p10'>
        <img src=<%=user['pic_url']%> style='width:200px'/>
        <h3 class='name'> <%= user['name'] %> </h3>
        <div class='address'> <%= user['address'] %> </div>
        <!-- <div class='address'> <%= user['network'].to_s.capitalize %> </div> -->
      </div>
      
      <div class='card1'>
        <%= user['philosophy'] %> 
      </div>

      <% if false %>
      <div class='card1'>
        <h5> Badges </h5>
        <div class='badges'>
          <img src='/img/badge1.jpeg'/>
          <img src='/img/badge2.png'/>
          <img src='/img/badge3.jpeg'/>
        </div>
      </div>
      <% end %>
    </div>

    <div class='fl6'>
      
      <% if user[:_id] == cuid %>
      <div class='card1'>
        <div class='ct'>
          <%= erb :'/users/add_donation_form' %> 
        </div>
      </div>
      <% end %>

      <div class='card1'>
        <h5> My Favorite Organizations </h5>
      </div>
      <% user['fav_orgs'].to_a.each_with_index do |org ,i| %>
        <% next if !org.present? %>
        <div class='card1'>
          <div class='fav_org'>
            <h3 style='margin-top:0'><b><%= user['fav_orgs'].to_a[i] %></b></h3>
            <%= user['fav_orgs_text'].to_a[i] %>
          </div>
        </div>
      <% end %>

    </div>

    <div class='card1 fl2'>
      <%= erb :'/users/donations_list', locals: {donations: user_donations(user[:_id])} %>
    </div>
  </div>
</section>