<section class='profile'>
  <div class=row>
    <div class='col-md-3 col-xs-12'>
      <div class='card1 bo1 p10'>
        <img src=<%=user['pic_url']%> style='width:200px'/>
        <h3 class='name'> <%= user['name'] %> <% if user['verified']=='true'%><i style='color:#1da1f2' class='fa fa-check-circle'></i><% end %></h3>
        
        <% text = escape_html 'See My Giving Profile!' %>
        <i class='fa fa-share pull-right' onclick='fbShare("<%=text%>")'></i> 
        <div class='address'> <%= user['address'] %> </div>
        <!-- <div class='address'> <%= user['network'].to_s.capitalize %> </div> -->
      </div>
      
      <div class='card1'>
        <%= user['philosophy'] %> 
      </div>      

      <% if cuid && $donations.all(user_id: cuid).mapo('amount').map{|s| s.to_i}.sum >= cu['yearly_income'].to_i * 0.1%>      
      <div class='card1'>
        <h5> Badges </h5>
        <div class='badges'>
          <img src='/img/badge1.jpeg'/>
          <figcaption>Donates over 10% of his yearly income</figcaption>
        </div>
      </div>
      <% end %>

      <% if false %>
      <div class='ct'>
      <a class='btn btn-sm btn-raised btn-warning' href="/users/toggle_verified/<%=user[:_id]%>">Toggle Verified</a>
      </div>
      <% end %>
      
    </div>

    <div class='col-md-7 col-xs-12'>
      
      <% if user[:_id] == cuid %>
      <div class='card1'>
        <div class='ct'>
          <%= erb :'/users/add_donation_form' %> 
        </div>
      </div>
      <% end %>


      <% if user[:fav_cause] %>
      <div class='card1 ct'>
        <span> My Featured Cause: <b><%= user[:fav_cause].to_s.titleize %></b> </span>
      </div>
      <% end %>

      <% if (causes_hash = user_causes_hash(user)).any? %>
        <div class='card1'>
          <div class='ct'>
            <%= erb :'/users/my_causes_graph', locals: {causes_hash: causes_hash} %> 
          </div>
        </div>
      <% end %>      

      <div class='card1'>
        <h5> My Favorite Organizations: </h5>
      </div>
      <% user['fav_orgs'].to_a.each_with_index do |org ,i| %>
        <% next if !org.present? %>
        <div class='card1'>
          <div class='fav_org'>
            <h3 style='margin-top:0'><b><%= user['fav_orgs'].to_a[i] %></b></h3>
            <%= user['fav_orgs_text'].to_a[i] %>
          </div>
        </div>
      <% end %>

    </div>

    <div class='col-md-2 col-xs-12'>
      <div class='card1'>
        <%= erb :'/users/donations_list', locals: {donations: user_donations(user[:_id])} %>
      </div>
    </div>
  </div>
</section>