<style>
.fb-page {
  margin-bottom:20px;
  background-color: white;
/*  padding: 15px;*/
  margin-top: 25px;
  border: 1px #d6d6d6 solid;
  border-radius: 3px;
}
.fb_link_style {
  color:#365899; 
  font-weight: 500px;
}
.feed_item {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: white;
  margin-bottom:1px;
  padding:10px;
  font-weight: normal;
}

.truncate {
  /*width: 250px;*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.feed_column {
    width: 330px;
    display: inline-block;
    /* height: 100%; */
    min-height: 500px;
    max-height: 800px;
    /*background-color: yellow;
    border: 1px solid blue;*/
    
    padding: 10px;
    padding-bottom: 100px;
    vertical-align: top;
    white-space: normal;
    overflow-x:hidden;
    overflow-y: scroll;
}
.feed_container {
  /*border: 1px solid red;*/
  /*min-height: 100px;*/
  text-align: left;
  overflow-x: scroll;
  white-space: nowrap;
}
.feed_container h2 {
  background-color: white;
  min-height: 50px;
  /*border: 1px solid black;*/
  border-radius: 3px;
  text-align: center;
  padding: 10px;
}
</style>
<div class='feed_container'>

<section class='feed feed_column'>
  <h2 style=''> Your Network </h2>
  <div style='height:500px; margin-top:36px; overflow-y: scroll; overflow-x:hidden; border: 2px #d6d6d6 solid; border-radius:4px'>
    <% (my_network_donations * 10).each do |don| %>
    <% u = $users.get(don['user_id']) || {name: 'Somebody'} %>
    <% org = $orgs.get(don['org_id']) || {name: 'A private organization.'} %>
    <div class='feed_item' style='text-align: left; padding: 0 auto 20 auto;'>
      <%#= don.to_json %>
      <div class='row'>
        <div class='col-md-3 ct' style='margin-right: -5px'>
          <img src='<%=u['pic_url']%>' class='profile-pic-1' style='height:50px'>
        </div>
        <div class='col-md-9' style='zfont-size:18px; padding-left:0px'>
          <div> <a class='fb_link_style' href='/users/<%=u['nick']%>'><%=u['name']%></a> donated to <a class='fb_link_style' href='/orgs/<%=org['_id']%>'><%= org['name'] %></a></div>
          <div class='zfr' style='margin-top:5px; font-size:11px; color:#90949c'>At <%= don['created_at'].strftime("%A, %d %b %Y %l:%M %p")%></div>
        </div>      
      </div>
    </div>
    <% end %>
  </div>
  </section>  


<%   
  orgs = my_donated_orgs  
  orgs.each do |org|
  next unless org['facebook_page']
%>
  <section class='feed feed_column'>
  <h2 class='truncate has_tooltip' title="<%=org['name']%> (<%=org['facebook_page']%>)"> <a href='/orgs/<%=org['_id']%>' class='fb_link_style' style='text-decoration: none'>Hello World <%= org['facebook_page'] * 10 %> </a></h2>  
  <% if false %>
    <div class="fb-page" data-href="https://www.facebook.com/<%=org['facebook_page']%>" 
    data-tabs="timeline" 
    data-small-header="true" 
    data-adapt-container-width="true" 
    data-hide-cover="true" 
    data-show-facepile="false">
    </div>
    <% end %>
  </section>
  <% end %>


</div>