<section class='feed col-md-6 col-md-offset-3'>
  <h1> Donations in your Network </h1>

<% if false %>
  <div class="fb-page" data-href="https://www.facebook.com/wwf" 
  data-tabs="timeline" 
  data-small-header="true" 
  data-adapt-container-width="true" 
  data-hide-cover="true" 
  data-show-facepile="false">
  <blockquote cite="https://www.facebook.com/wwf" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote>
  </div>
<% end %>
  <% my_network_donations.each do |don| %>
  <% u = $users.get(don['user_id']) || {name: 'Somebody'} %>
  <% org = $orgs.get(don['org_id']) || {name: 'A private organization.'} %>
  <div class='card1' style='text-align: left'>
    <%#= don.to_json %>
    <div class='single_feed_item row'>
      <div class='col-md-3 ct '>
        <img src='/img/face.jpg' class='profile-pic-1'>
      </div>
      <div class='col-md-9' style='font-size:18px'>
        <div> <a href='/users/<%=u['nick']%>'><%=u['name']%></a> donated to <a href='/orgs/<%=org['_id']%>'><%= org['name'] %></a></div>
        <div class='fr' style='margin-top:8px'> <%= don['created_at'].strftime("%A, %d %b %Y %l:%M %p")%></div>
      </div>      
    </div>
  </div>
  <% end %>


</div>