<style>
.fb-page {
  margin-bottom:20px;
  background-color: white;
  padding: 15px;
  margin-top: 25px;
  border: 1px #d6d6d6 solid;
  border-radius: 3px;
}
</style>
<section class='feed col-md-6'>
  <h1> News in your Network </h1>
  
  <%   
    pages = my_feed_orgs
    pages.each do |page|
  %>
    <div class="fb-page" data-href="https://www.facebook.com/<%=page%>" 
    data-tabs="timeline" 
    data-small-header="true" 
    data-adapt-container-width="true" 
    data-hide-cover="true" 
    data-show-facepile="false">
    </div>
    <% end %>
</section>

<section class='feed col-md-6'>
  <h1> Donations in your Network </h1>
  <% (my_network_donations * 50).each do |don| %>
  <% u = $users.get(don['user_id']) || {name: 'Somebody'} %>
  <% org = $orgs.get(don['org_id']) || {name: 'A private organization.'} %>
  <div class='card1' style='text-align: left'>
    <%#= don.to_json %>
    <div class='single_feed_item row'>
      <div class='col-md-3 ct '>
        <img src='<%=u['pic_url']%>' class='profile-pic-1'>
      </div>
      <div class='col-md-9' style='font-size:18px'>
        <div> <a href='/users/<%=u['nick']%>'><%=u['name']%></a> donated to <a href='/orgs/<%=org['_id']%>'><%= org['name'] %></a></div>
        <div class='fr' style='margin-top:8px'> <%= don['created_at'].strftime("%A, %d %b %Y %l:%M %p")%></div>
      </div>      
    </div>
  </div>
  <% end %>
</section>