<div class="user-header d-flex container-fluid">
    <div class="user-header__image">
      <%= image_tag(@user.profile_image, alt: "rss feed", class: "rounded-circle") %>
    </div>

    <div class="user-header__info align-self-center">
      <h1 class="user-header__name">
        <%= @user.name %>
      </h1>
      <p class="user-header__location">
        <%= @user.location %>
      </p>
      <div class="user-header__social-networks">
        <a href="#"><%= fa_icon "facebook-official", class: "fab" %></a>
        <a href="#"><%= fa_icon "envelope-square" %></a>
      </div>
    </div>

    <div class="user-header__nav-wrapper d-flex flex-column">
      <nav class="user-header__options justify-content-end d-flex">
        <a href="#">
          <%= fa_icon "home" %>
          <span>Home</span>
        </a>
        <a href="#" class="active">
          <%= fa_icon "user-circle" %>
          <span>Profile</span>
        </a>
        <a href="#">
          <%= fa_icon "cog" %>
          <span>Settings</span>
        </a>
      </nav>
      <%= link_to "Edit Profile", edit_user_path(@user), class: "edit-profile-button align-self-end flex-row-reverse" %>
    </div>

</div>
