<section class='profile'>
  <div class=row>
    <div class='col-md-3 col-xs-12'>
      <div class='card1 bo1 p10' style='position: relative'>
        <div class='ct'>
          <img src=<%=user['pic_url']%> style='width:200px'/>
        </div>
        <h3 class='name'> <%= user['name'] %> <% if user['verified']=='true'%><i style='color:#1da1f2' class='fa fa-check-circle'></i><% end %></h3>
        
        <% text = escape_html 'See My Giving Profile!' %>
        <i class='fa fa-share pull-right' onclick='fbShare("<%=text%>")' style='position: absolute; right: 10px; bottom: 10px;'></i>
        <div class='address'> <%= user['address'] %> </div>
        <!-- <div class='address'> <%= user['network'].to_s.capitalize %> </div> -->
      </div>
      
      <div class='card1'>
        <h5> Philosophy </h5>
        <%= user['philosophy'] %> 
      </div>      

      <% if user && user['yearly_income'].present? && $donations.all(user_id: user['_id']).mapo('amount').map{|s| s.to_i}.sum >= user['yearly_income'].to_i * 0.1%>      
      <div class='card1'>
        <h5> Badges </h5>
        <div class='badges'>
          <img src='/img/badge1.jpeg'/>
          <figcaption>Donates over 10% of his yearly income</figcaption>
        </div>
      </div>
      <% end %>

      <% if false %>
      <div class='ct'>
      <a class='btn btn-sm btn-raised btn-warning' href="/users/toggle_verified/<%=user[:_id]%>">Toggle Verified</a>
      </div>
      <% end %>
      
    </div>

    <div class='col-md-7 col-xs-12'>
      
      <% if user[:_id] == cuid %>
      <div class='card1'>
        <div class='ct'>
          <%= erb :'/users/add_donation_form' %> 
        </div>
      </div>
      <% end %>

      <% if (causes_hash = user_causes_hash(user)).any? %>
        <div class='card1'>
          <div class='ct'>
            <%= erb :'/users/my_causes_graph', locals: {causes_hash: causes_hash} %> 
          </div>
        </div>
      <% end %>      


      <% if user[:fav_cause] %>
      <div class='card1'>
        <div class='fav_org'>
            <h5> Featured Cause: </h5>
            <h3 style='margin-top:0'><img src='<%="/img/cause_icons/#{user[:fav_cause]}.png"%>' style='height:40px; margin-right: 10px'> <b><%= user[:fav_cause].to_s.titleize %></b> </h3>
            <div><%=user[:fav_cause_txt]%></div>
          </div>
        
      </div>
      <% end %>

      <% user['fav_orgs'].to_a.each_with_index do |org ,i| %>
        <% next if !org.present? %>
        <div class='card1'>
          <div class='fav_org'>
            <h5> Feaured Organization: </h5>
            <h3 style='margin-top:0'><b>
              <% org_name = user['fav_orgs'].to_a[i] %>
              <% if org = $orgs.get(name: org_name) %>
                <% if org['facebook_page'] %>
                <a href='https://facebook.com/<%=org['facebook_page']%>'><img src='https://graph.facebook.com/v2.11/<%=org['facebook_page']%>/picture' height=30px style='border-radius:4px; margin-right:10px'/></a>
                <% end %>
                <a href='/orgs/<%=org['_id']%>'><%=org_name%></a>
              <% else %>
                <%= org_name %>
              <% end %>
            </b></h3>
            <%= user['fav_orgs_text'].to_a[i] %>
          </div>
        </div>
      <% end %>
    </div>

    <div class='col-md-2 col-xs-12'>
      <div class='card1'>
        <%= erb :'/users/donations_list', locals: {donations: user_donations(user[:_id])} %>
      </div>
    </div>
  </div>
</section>